
<div class="tweet">
  <div class="author">
    <%= tweet.comic.author.name %>
    <%= "@#{tweet.comic.author.screen_name}" %>
  </div>
  <div class="text">
    <%= tweet.text %>
  </div>
  <div class="permalink">
    <%= link_to tweet.posted_at, tweet.tweet_permalink %>
  </div>
</div>
